/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

div.zimrate h1,
div.zimrate h2,
div.zimrate h3,
div.zimrate h4,
div.zimrate h5,
div.zimrate h6 {
  text-align: center;
}

div.zimrate {
  padding-right: 20px;
}

div.zimrate table {
  border-collapse: collapse;
  width: 100%;
}

div.zimrate th,
div.zimrate td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

div.zimrate tr:nth-child(even) {
  background-color: white;
}

div.zimrate tbody tr:hover {
  background-color: #ddd;
}

div.zimrate th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #242830;
  color: white;
}

div.zimrate-plugins,
div.zimrate-rates,
div.zimrate-shortcode {
  margin: 20px 0;
}

div.zimrate-shortcode {
  padding: 0 20px;
}

ul.zimrate-shortcode-list {
  padding: 0 20px;
  list-style: circle;
}
